*.tar
*.tar.gz
*.zip
venv*/
envs/
slurm_logs/

sync1.sh
data_preprocess_pj1
data-preparation1
__pycache__
*.log
.vscode
debug/
*.ipynb
.idea

# vscode history
.history

*.DS_Store
.env
.env.*

bad_words/
bak/

# LlamaIndex/ChromaDB local storage
chroma_db_storage/

app/tests/*
temp/
tmp/
tmp
.vscode
.vscode/
.idea/
ocr_demo
.coveragerc
/app/common/__init__.py
/magic_pdf/config/__init__.py
source.dev.env

tmp

projects/web/node_modules
projects/web/dist

projects/web_demo/web_demo/static/
cli_debug/
debug_utils/

# sphinx docs
_build/

input/
output/


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd